
PongCity/obj/Debug/81/stub_application_data.txt
PongCity/obj/Debug/81/resolved_assemblies.txt
PongCity/obj/Debug/81/PongCity.pdb
PongCity/obj/Debug/81/PongCity.dll
PongCity/obj/Debug/81/PongCity.csprojAssemblyReference.cache
PongCity/obj/Debug/81/PongCity.csproj.FileListAbsolute.txt
PongCity/obj/Debug/81/linksrc/PongCity.dll.mdb
PongCity/obj/Debug/81/linksrc/PongCity.dll
PongCity/obj/Debug/81/linkdst/PongCity.pdb
PongCity/obj/Debug/81/linkdst/PongCity.dll.mdb
PongCity/obj/Debug/81/linkdst/PongCity.dll
PongCity/obj/Debug/81/emulator-5556.deployment
PongCity/obj/Debug/81/devices.cache
PongCity/obj/Debug/81/designtime/build.props
PongCity/obj/Debug/81/android/src/mono/MonoRuntimeProvider.java
PongCity/obj/Debug/81/android/src/mono/android/Seppuku.java
PongCity/obj/Debug/81/android/src/mono/android/app/NotifyTimeZoneChanges.java
PongCity/obj/Debug/81/android/src/mono/android/app/ApplicationRegistration.java
PongCity/obj/Debug/81/android/bin/PongCity.PongCity.apk
PongCity/obj/Debug/81/android/bin/classes.zip
PongCity/obj/Debug/81/android/assets/PongCity.dll.mdb
PongCity/obj/Debug/81/android/assets/PongCity.dll
PongCity/obj/Debug/81/android/assets/machine.config
PongCity/Content/obj/Android/Content/Bat.mgcontent
PongCity/Content/obj/Android/Content/ball.mgcontent
PongCity/Content/obj/Android/Content/.mgstats
PongCity/Content/obj/Android/Content/.mgcontent
PongCity/bin/Android/AnyCPU/Debug/PongCity.PongCity.apk
PongCity/bin/Android/AnyCPU/Debug/PongCity.PongCity-Signed.apk
PongCity/bin/Android/AnyCPU/Debug/PongCity.pdb
PongCity/bin/Android/AnyCPU/Debug/PongCity.dll.mdb
PongCity/bin/Android/AnyCPU/Debug/PongCity.dll
.vs/PongCity/v15/Server/sqlite3/storage.ide-wal
.vs/PongCity/v15/Server/sqlite3/storage.ide-shm
.vs/PongCity/v15/.suo
